<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the UI of E-mail part of the Project</title>
    <style type="text/css">
        body{
            background-image:url('bgimage.jpg');
        }
    </style>
</head>
<body>
    <h1>Send a new Email</h1>
    <form method="post">
        <p>
            To:
            <input type="text" name="To">
        </p>
        <p>
            From:
            <input type="text" name="From">
        </p>
        <p>
            Sub:
            <input type="text" name="Subject">
        </p>
        <p>
            Email-body:
            <input type="text" name="Message">
        </p>
        <button type="submit">Send</button>
    </form>
</body>
</html>