<!DOCTYPE html>
<html>
<head>
	<title>Smart Email Tracker</title>
	<link rel="stylesheet" type="text/css" href={{url_for('static',filename='style.css')}}>
</head>
<body>
	<h1>Smart Email Tracker</h1>
	<hr>
	<div class="input">
		<p>
			Please enter the details below : 
		</p>
		<form class="my-form" action="" method="POST">
			<div>
				<label>From : </label>
				<input type="text" name="From" placeholder="Enter sender email">
			</div>
			<br>
			<div>
				<label>To :    </label>
				<input type="text" name="To" placeholder="Enter receiver email">
			</div>
			<!--<br>
			<div>
				<label>Date : </label>
				<input type="date" name="date">
			</div> -->
			<br>
			<div>
				<label>Subject : </label>
				<input type="text" name="Subject" placeholder="Enter the subject">
			</div>
			<br>
			<div>
					<label>Body : </label>
					<textarea name="Message"></textarea>
			</div>
			<br>
			<input class="button" type="submit" name="submit" value="Submit">
		</form>
	</div>
	<div class="output">
		<h2>Predicted Output</h2>
		<p>
			The email belongs to class :{{mesg}}
		</p>
	</div>
	<!--<div class="input">
		<form method="POST">
			<h2>Review previous mails</h2>
			<div>
				<label>Transaction ID : </label>
				<input type="text" name="ID" placeholder="Enter the transaction ID">
			</div>
		</form>
	</div> -->
</body>
</html>