<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This the main page for testing</title>
</head>
<body>
    <h1>
        Enter The values to be predicted on
    </h1>
    <form method="post">
        <p>
            Experience:
            <input type="text" name="Experience">
        </p>
        <p>
            test_score:
            <input type="text" name="test_score">
        </p>
        <p>
            Interview_score:
            <input type="text" name="interview_score">
        </p>
        <button type="submit">Send</button>
    </form>

</body>
</html>